<html>
  <head>
    <title>Example Ruby Manifest</title>
  </head>
  <body>
    <h1>Example Ruby Manifest</h1>

    <p>
      <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/db">Database</a></li>
      </ul>
    </p>
  </body>
</html>